body {
    font-family: Arial;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Höhe des Viewports */
    margin: 0;
}
